$primaryFont: 'Poppins', sans-serif;
$secondaryFont: 'Montserrat', sans-serif;
body {
	font-family: $primaryFont;
}

h1 {
	font-family: $secondaryFont;
}

h2 {
	font-family: $primaryFont;
}

.btn {
	font-size: 16px;
	text-transform: capitalize !important;
	font-family: $primaryFont;
	font-weight: 500 !important;
}

.navbar-brand img {
	width: 130px;
}

.navbar a {
	font-family: $primaryFont;
	font-weight: 500;
}

.banner-section {
	background-image: url('../images/banner.png');
	background-blend-mode: overlay;
	background-color: rgba(0, 0, 0, 0.7);
	background-size: contain;

	h1 {
		font-size: 48px;
	}
}

.search-form {
	input {
		font-size: 16px;
	}

	button {
		font-family: 'Poppins', sans-serif;
		text-transform: capitalize;
		font-weight: 400;
		font-size: 16px;
	}
}

.home-list-title {
	p {
		font-size: 16px;
		font-family: $primaryFont;
	}

	h3 {
		font-size: 34px;
		font-weight: 700;
		color: #16322e;
	}
}

.apartment-title {
	font-size: 22px !important;
	font-weight: 600;
	font-family: $primaryFont;
}

.place-name {
	font-size: 16px;
	font-family: $primaryFont;
	font-weight: 500;
}

.bedroom,
.bathroom {
	font-size: 16px;
	font-family: $primaryFont;
}

.price {
	font-size: 34px;
	font-family: $primaryFont;
	font-weight: 600;
}

.details-button {
	font-size: 16px;
	font-family: $primaryFont;
	font-weight: 500;
	margin-top: 6px;
}

.service-list-title {
	p {
		font-size: 16px;
		font-family: $primaryFont;
	}

	h3 {
		font-size: 34px;
		font-weight: 700;
		color: #16322e;
	}
}

.service-lists.card {
	.card-img-top {
		width: 55% !important;
		margin: auto;
		padding: 50px;
		box-sizing: border-box;
	}

	.card-title {
		font-size: 20px;
	}
}

footer {
	background-color: #275a53;

	h5 {
		font-size: 20px;
	}
}

.footer-links {
	h5 {
		font-size: 20px;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	li {
		float: left;
	}
	a {
		display: block;
		color: #ffffff;
		font-size: 16px;
	}
}

.login-logo {
	width: auto;
	margin: auto;
	text-align: center;

	img {
		width: 200px;
		margin: auto;
	}
}

.google-login-button {
	width: 50%;
	margin: auto;
	text-align: center;

	.login-button {
		width: 100%;
		background-color: transparent;
		border: 1px solid #ededed;
		border-radius: 50px;
		padding: 10px;
		box-sizing: border-box;
		font-family: $primaryFont;
		font-size: 16px;
		font-weight: 500;

		img {
			width: 25px;
			margin-right: 20px;
			float: left;
		}
	}
}

.profile-pic {
	img {
		width: 40px;
		border-radius: 50%;
		margin-left: 8px;
	}
}

button.bg-transparent.text-dark.dropdown-toggle.btn.btn-primary {
	padding: 4px !important;
}

.dropdown {
	button {
		font-size: 16px;
	}
}

.dropdown-item {
	font-size: 16px !important;
}

.btn.focus,
.btn:focus {
	box-shadow: 0 !important;
}

.dashboard-side-nav {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		padding: 10px 0;
	}

	a {
		font-size: 18px;
		font-family: $primaryFont;
	}

	i {
		margin-right: 8px;
		font-size: 22px;
	}
}

.dashboard-content {
	background-color: #f4f7fc;
	height: 100vh;
}

.rent-form {
	background-color: #fff;
	padding: 40px;
	border-radius: 10px;

	label {
		font-family: $primaryFont;
		font-size: 16px;
	}

	input {
		border: 1px solid #cdcdcd;
		border-radius: 3px;
		font-family: $primaryFont;
		font-size: 16px;
	}

	button {
		font-family: $primaryFont;
		font-size: 18px;
	}
}

.table {
	font-family: $primaryFont;
	font-size: 16px;

	th {
		text-transform: capitalize !important;
		font-family: $primaryFont;
		font-size: 16px;
		font-weight: 500;
	}
}

.request-form {
	input {
		font-family: $primaryFont;
		font-size: 16px;
	}

	textarea {
		font-family: $primaryFont;
		font-size: 16px;
	}

	button {
		font-family: $primaryFont;
		font-size: 18px;
		width: 100%;
	}
}
